<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Store\Model\StoreSwitcher">
        <arguments>
            <argument name="storeSwitchers" xsi:type="array">
                <item name="revertStorePath" xsi:type="object" sortOrder="99">Opengento\StorePathUrl\Model\StoreSwitcher\RevertStorePath</item>
                <item name="rewriteUrl" xsi:type="object" sortOrder="100"/>
                <item name="applyStorePath" xsi:type="object" sortOrder="101">Opengento\StorePathUrl\Model\StoreSwitcher\ApplyStorePath</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Backend\App\Request\PathInfoProcessor">
        <arguments>
            <argument name="subject" xsi:type="object">Opengento\StorePathUrl\App\Request\PathInfoProcessor\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\Url\ScopeInterface">
        <plugin name="Opengento_StorePathUrl::prepend_custom_path" type="Opengento\StorePathUrl\Plugin\Url\Scope"/>
    </type>
    <type name="Magento\Store\App\Request\StorePathInfoValidator">
        <plugin name="Opengento_StorePathUrl::resolve_store_code" type="Opengento\StorePathUrl\Plugin\App\Request\StorePathInfoValidator"/>
    </type>
</config>
